<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>
    <div class="container-sm ">
        <h1>Log a new order</h1>
        <div>
        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                {% for message in messages %}            <!-- loop through the messages -->
                    <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
        
        <div class="btn-group ">
            <a href="/cookies" >Back to Purchases</a>
        </div>
        <form action="/new/order" method="post">
            <div class="mb-3">
                <label for="customer_name" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="customer_name">
            </div>
            <div class="mb-3">
                <label for="cookie_type" class="form-label">Cookie Type</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="cookie_type">
            </div>
            <div class="mb-3">
                <label for="amount" class="form-label">Number of boxes</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" name="amount">
                </div>
            <input type="submit" class="btn btn-primary" value = 'Log'></input>
        </form>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>